<main class="holder">
            <div class="cajacoleccion">
                <div class="zeldaoc">
                    <img class="obscuro" src="images/Coleccion/Fondos/Fondo Zelda Ocarina.jpg" alt="fondozelda">
                    <div class="item1">
                        <h2>ZELDA OCARINA OF TIME</h2>
                     
                        <div class="cajaimagen">
                            <a href="multimedia.html#zocarina"><img class="zeldacol" src="images/Coleccion/FOTO ZELDA.png" alt="zeldaocarina"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Qué decir de este juego que ya no se ha dicho antes, simplemente que es unos de los pocos
                            juegos que ha logrado atraparme, a tal punto de querer seguir jugándolo sin parar pero a la
                            vez que no termine nunca. Si bien era un juego que ya lo tenía completo, se lo volvi a comprar
                            a un muchacho de Santa Fé junto con el Paper Mario y otros ya que la caja estaba como nueva
                            realmente, casi como si estuviera sellado pero sin estarlo.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="papermario">
                    <img class="claro" src="images/Coleccion/Fondos/Fondo Paper Mario.jpg" alt="fondopapermario">
                    <div class="item2">
                        <h2>PAPER MARIO</h2>
                        
                        <div class="cajaimagen">
                            <a href="multimedia.html#pmario"><img class="papercol" src="images/Coleccion/Imagen paper mario.jpg" alt="papermario"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Paper mario es un título que la verdad todavía no lo jugué pero como fan de mario no puede
                            faltar en mi colección. Se lo compre a un muchacho de Santa Fe que junto a otros grandes 
                            juegos de N64 tenía este dificil item en su poder. Lo curioso fue que el vendedor no era 
                            coleccionista, eran juegos que cuando era chico sus padres le fueron comprando (creo que los 
                            padres estaban bien economicamente jaja). Pude comprarle varios títulos que voy a ir 
                            mostrando en la página, todos ellos de N64.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="force">
                    <img class="obscuro" src="images/Coleccion/Fondos/Fondo Fighting Force.jpg" alt="fondofightingforce">
                    <div class="item3">
                        <h2>FIGHTING FORCE</h2>
                        
                        <div class="cajaimagen">
                            <a href="multimedia.html#fforce"><img class="forcecol" src="images/Coleccion/Imagen Fighting force.jpg" alt="fightingforce"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Este juego lo completamos luego de conseguir la caja y el manual en una jugueteria en la que 
                            el dueño había tenido videoclub y le habían quedado muchas cajas con manuales 
                            sueltas y ahí fuimos al ataque. El cartucho no aparecia hasta que lo vimos en una feria que
                            no recuerdo en que localidad estaba ubicada en estos momentos. Me acuerdo de haber
                            jugado bastante a este título pero en Playstation. Es de los pocos beat ‘em up que hay para
                            Nintendo 64.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="gbcp">
                    <img class="claro" src="images/Coleccion/Fondos/Fondo Pokemon Yellow.jpg" alt="fondopokemonyellow">
                    <div class="item4">
                        <h2>GAME BOY COLOR PIKACHU EDITION</h2>
                        
                        <div class="cajaimagen">
                            <a href="multimedia.html#gbpikachu"><img class="gbcpcol" src="images/Coleccion/Imagen GBC Pikachu.jpg" alt="GBCpikachu"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Esta consola se la compramos a un coleccionista de C.A.B.A que estaba vendiendo y todavia
                            está vendiendo su gran gran colección. Dentro de la caja viene tambien incluido el juego
                            de pokemon yellow que es mi favorito de esta consola y uno de los mas jugados por mi en mi 
                            infancia.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="smario3">
                    <img class="claro" src="images/Coleccion/Fondos/Fondo Mario 3.jpg" alt="fondomario3">
                    <div class="item5">
                        <h2>SUPER MARIO 3</h2>

                        <div class="cajaimagen">
                            <a href="multimedia.html#smario3"><img class="sm3col" src="images/Coleccion/Imagen Super Mario 3.png" alt="supermario3"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Este clásico de fines de los años 80 y principio de los 90 lo conseguimos luego de mucho tiempo
                            de busqueda no porque sea difícil de conseguir (o quiza un poco en condición 
                            CIB) sino porque lo es en este estado. En poco tiempo de salida al mercado, este juego, se posicionó en el
                            primer lugar y se mantuvo entre los 20 primeros por largos 5 años.</p>
                        </div>
                        
                    </div>
                </div>

                <div class="megamanx">
                    <img class="obscuro" src="images/Coleccion/Fondos/Fondo Megaman X.jpg" alt="fondomegamanx">
                    <div class="item6">
                        <h2>MEGAMAN X</h2>
                        
                        <div class="cajaimagen">
                            <a href="multimedia.html#megax"><img class="megamanxcol" src="images/Coleccion/Imagen megaman X.jpg" alt="megamanx"></a>
                        </div>
                        <div class="cajatexto">
                            <p>Esta joya de Super Nintendo la conseguimos gracias a un coleccionista de Tucumán y lo compramos 
                            junto con dos juegos más que pronto vamos a estar subiendo a la página. La persona que nos lo vendió 
                            se estaba desprendiendo de varias cosas de su colección y no es fácil hacer eso lamentablemente. Este
                            es un juego muy querido por los fanáticos de Snes y conseguirlo así en este estado y CIB es realmente
                            bastante complicado acá en Argentina hoy en día.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>