<main class="holder">
            <div class="cajahome">
                
                <h3>NOVEDADES DE LA COLECCION</h3>
                
                <div>
                    <div class="filajuegos">
                        <a href="multimedia.html#zocarina"><div class="marron">
                            <img src="images/Home/Zelda Ocarina.jpg" alt="">
                            <h6>Zelda ocarina of time</h6>
                        </div></a>

                        <a href="multimedia.html#gbpikachu"><div class="naranja textolateral">
                            <img src="images/Home/GB Pikachu.jpg" alt="GBCPikachu">
                            <h6>GBC<br/>Pikachu<br/>Edition</h6>
                        </div></a>
                
                        <a href="multimedia.html#fforce"><div class="marron">
                            <img src="images/Home/Fighting Force.jpg" alt="fightingforce64">
                            <h6>Fighting Force 64</h6>
                        </div></a>
                    </div>
                    <div class="filajuegos">

                        <a href="multimedia.html#megax"><div class="naranja">
                            <img src="images/Home/Megaman X.jpg" alt="megamanx">
                            <h6>Megaman X</h6>
                        </div></a>

                        <a href="multimedia.html#smario3"><div class="marron textolateral">
                            <img src="images/Home/Super Mario 3.jpg" alt="supermario3">
                            <h6>Super <br/>Mario 3</h6>
                        </div></a>

                        <a href="multimedia.html#pmario"><div class="naranja">
                            <img src="images/Home/Paper Mario.jpg" alt="papermario">
                            <h6>Paper Mario</h6>
                        </div></a>
                    </div>
                
                </div>
                
                <h3>NOVEDADES A LA VENTA</h3>

                <div>
                    <div class="filajuegos">
                   
                        <a href="tienda.html#mtennis"><div class="naranja">
                            <img src="images/Home/Mario Tennis.jpg" alt="">
                            <h6>Mario Tennis</h6>
                        </div></a>

                        <a href="tienda.html#gbcla"><div class="marron textolateral">
                            <img src="images/Home/GB classic.jpg" alt="GBClassic">
                            <h6>Game Boy <br/>Classic</h6>
                        </div></a>

                        <a href="tienda.html#mk3"><div class="naranja textolateral">
                            <img src="images/Home/MK3.jpg" alt="MK3">
                            <h6>Mortal <br/>Kombat 3</h6>
                        </div></a>
                    </div>
                    <div class="filajuegos">

                        <a href="tienda.html#joyn64"><div class="marron textolateral">
                            <img src="images/Home/Joystick N64.jpg" alt="JoystickN64">
                            <h6>Joystick <br/>Nintendo 64</h6>
                        </div></a>

                        <a href="tienda.html#smetroid"><div class="naranja">
                            <img src="images/Home/Super Metroid.jpg" alt="SuperMetroid">
                            <h6>Super Metroid</h6>
                        </div></a>

                        <a href="tienda.html#joysnes"><div class="marron textolateral">
                            <img src="images/Home/Joystick Snes.jpg" alt="JoystickSnes">
                            <h6>Joystick <br/>Super<br/> Nintendo</h6>
                        </div></a>
                    </div>

                </div>
  
            </div>
            
        </main>