<main class="holder">

            <div class="cajaimagenes">

                <div class="cajanegra">
                    <a name="zocarina"><h2>ZELDA OCARINA OF TIME</h2></a>
                    <div>
                        <img src="images/Imagenes/Zelda frente.jpg" alt="zeldafrente">
                        <img src="images/Imagenes/Zelda dorso.jpg" alt="zeldadorso">
                    </div>
                </div>

                <div class="cajanegra">
                    <a name="pmario"><h2>PAPER MARIO</h2></a>
                    <div>
                        <img src="images/Imagenes/papergrupofrente.jpg" alt="papergrupofrente">
                        <img src="images/Imagenes/papergrupodorso.jpg" alt="papergrupodorso">
                    </div>
                </div>

                <div class="cajanegra">
                    <a name="fforce"><h2>FIGHTING FORCE 64</h2></a>
                    <div>
                        <img src="images/Imagenes/forcegrupofrente.jpg" alt="forcegrupofrente">
                        <img src="images/Imagenes/forcegrupodorso.jpg" alt="forcegrupodorso">
                    </div>
                    <div>   
                        <img src="images/Imagenes/forcefrent.jpg" alt="forcefrente">
                        <img src="images/Imagenes/forcedorso.jpg" alt="forcedorso">
                    </div>
                    <div>   
                        <img src="images/Imagenes/forcecartuchofrente.jpg" alt="forcecartuchofrente">
                        <img src="images/Imagenes/forcecartuchodorso.jpg" alt="forcecartuchodorso">
                    </div>
                </div>

                <div class="cajanegra">
                    <a name="gbpikachu"><h2>GAME BOY COLOR PIKACHU EDITION</h2></a>
                    <div>   
                        <img src="images/Imagenes/gbcpgrupofrente.jpg" alt="gbcpgrupofrente">
                        <img src="images/Imagenes/gbcpgrupodorso.jpg" alt="gbcpgrupodorso">
                    </div>
                    <div>    
                        <img src="images/Imagenes/gbcpfrente.jpg" alt="gbcpfrente">
                        <img src="images/Imagenes/gbcpdorso.jpg" alt="gbcpdorso">
                    </div>
                    <div>    
                        <img src="images/Imagenes/gbcpconsolafrente.jpg" alt="gbcpconsolafrente">
                        <img src="images/Imagenes/gbcpconsoladorso.jpg" alt="gbcpconsoladorso">
                    </div>
                </div>

                <div class="cajanegra">
                    <a name="smario3"><h2>SUPER MARIO 3</h2></a>
                    <div>
                        <img src="images/Imagenes/sm3grupofrente.jpg" alt="sm3grupofrente">
                    </div>
                    <div>    
                        <img src="images/Imagenes/sm3frente.png" alt="sm3frente">
                        <img src="images/Imagenes/sm3dorso.png" alt="sm3dorso">
                    </div>
                </div>

                <div class="cajanegra">
                    <a name="megax"><h2>MEGAMAN X</h2></a>
                    <div>
                        <img src="images/Imagenes/megaxgrupofrente.jpg.png" alt="megaxgrupofrente">
                        <img src="images/Imagenes/megaxgrupodorso.jpg" alt="megaxgrupodorso">
                    </div>
                    <div>
                        <img src="images/Imagenes/megaxfrente.jpg" alt="megaxfrente">
                        <img src="images/Imagenes/megaxdorso.jpg" alt="megaxdorso">
                    </div>
                    <div>
                        <img src="images/Imagenes/megaxcartuchofrente.jpg" alt="megaxcartuchofrente">
                        <img src="images/Imagenes/megaxcartuchodorso.jpg" alt="megaxcartuchodorso">
                    </div>
                </div>

            </div>

            
        </main>