<main class="holder">
            <div class="cajanosotros" >
                    <div class="contenedor">
                        <h2>¿Quienes Somos?</h2>
                        <p>
                            Somos un grupo de personas que nos apasiona el mundo de los
                            video juegos. Nuestra intencion es conseguir todo CIB (Complet In Box)
                            pero a veces esto se hace muy dificil o muy caro. Nuestra pagina apunta 
                            principalmente a coleccionistas que 
                            son realmente los que valoran estas cosas y saben el valor que
                            tienen y pueden alcanzar estos articulos.
                            Principalmente y ante todo somos coleccionistas, con
                            el paso de los años se nos van juntando muchos juegos repetidos 
                            al estar mucha veces obligados a comprar lotes grandes, ya que 
                            asi la gente lo vende. Ahora estamos ofreciendo a la venta esos 
                            articulos para poder asi seguir incrementando nuestra coleccion y
                            permitir que los demas puedan acceder a estos juegos. En la 
                            pagina van a encontrar toda clases de juegos y consolas sueltas o 
                            completas, cajas y manuales originales, folletos, accesorios y todo
                            lo que se puedan imaginar de este amplio mundo de los video 
                            juegos. En cuanto a marcas, por ahora, elegimos 
                            Nintendo, algo de Sega y tambien de Sony pero no se sorprendan 
                            si en un futuro encuentran mercaderia de otras consolas. 
                            En la seccion “coleccion” vamos a ir presentando de a poco nuestra 
                            preciada coleccion y contando alguna informacion sobre cada 
                            articulo. En la seccion TIENDA van a encontrar los articulos que
                            vamos poniendo a la venta.
                        </p>
                    </div>
            </div>
            
        </main>