<main class="holder">
            <div class="cajatienda">

                <div class="cajaitem1">
                    <a name="joysnes"><h2>JOYSTICK SNES SIN USO</h2></a>
                    <div class="sale">
                        <img src="images/Tienda/Joystick snes venta.jpg" alt="joysticksnes">
                        <p>La caja se encuentra<br/> 
                            abierta pero el<br/>
                            joystick nunca se uso.<br/>
                            Es original 100%</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-873261388-pastgames-joystick-super-nintendo-original-sin-usar-real-_JM?searchVariation=61914405546#searchVariation=61914405546&position=50&type=item&tracking_id=35280bee-d230-4457-827c-18332f45c83f"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

                <div class="cajaitem2">
                    <a name="mk3"><h2>MORTAL KOMBAT 3</h2></a>
                    <div class="sale">
                        <img src="images/Tienda/MK3 venta.jpg" alt="mk3">
                        <p>Mortal Kombat 3<br/>
                            Original CIB.<br/>
                            Muy bueno para <br/>
                            Super Nintendo</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-880974887-mortal-kombat-3-cib-completo-super-nintendo-snes-muy-bueno-_JM#position=7&type=item&tracking_id=058d6831-c535-4910-8f14-a11a218a7d71"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

                <div class="cajaitem3">
                    <a name="gbcla"><h2>GAME BOY CLASSIC</h2></a>
                    <div class="sale">
                        <img src="images/Tienda/GBClassic venta.jpg" alt="">
                        <p>Game Boy Classic<br/>
                            en muy buen<br/>
                            estado. Sin Caja<br/>
                            ni manuales</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-881775591-game-boy-classic-muy-buen-estado-_JM?searchVariation=65191517729#searchVariation=65191517729&position=18&type=item&tracking_id=c1baf51b-e1c4-4047-a03b-90cf6b196b42"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

                <div class="cajaitem4">
                    <a name="mtennis"><h2>MARIO TENNIS N64</h2></a>
                    <div class="sale">
                        <img src="images/Tienda/Mario tennis venta.png" alt="mariotennis">
                        <p>Cartucho Mario<br/>
                            Tennis original<br/>
                            para Nintendo 64</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-882710271-mario-tennis-nintendo-64-impecable-original-_JM"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

                <div class="cajaitem5">
                    <a name="smetroid"><h2>SUPER METROID SNES </h2></a>
                    <div class="sale">
                        <img src="images/Tienda/SMetroid venta.png" alt="">
                        <p>Cartucho Super<br/>
                            Metroid para<br/> 
                            Super Nintendo<br/>
                            grabando partida</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-878351462-super-metroid-snes-super-nintendo-original-_JM#position=3&type=item&tracking_id=f5f30a79-86da-4eab-aac1-92141cd4f3eb"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

                <div class="cajaitem6">
                    <a name="joyn64"><h2>JOYSTICK NINTENDO 64</h2></a>
                    <div class="sale">
                        <img src="images/Tienda/JOYSTICK n64 venta.jpg" alt="">
                        <p>Joystick original<br/> 
                            para nintendo 64.<br/>
                            Stick 8 puntos</p>
                    </div>
                    <a href="https://articulo.mercadolibre.com.ar/MLA-882704837-joystick-nintendo-64-jungle-green-stick-8-puntos-_JM"><img class="boton" src="images/Tienda/boton/Boton comprar.png" alt="boton"></a>

                </div>

            </div>
</main>